<!doctype html>
<html ng-app="toDo" lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo App</title>
    <script
        src="https://code.jquery.com/jquery-1.12.4.min.js"
        integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
        crossorigin="anonymous"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/app.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/app.css">
  </head>
  
  <body ng-controller="ToDoController">
    <div class="container">
      <div class="row text-center">
        <div class="col">
          <h1 style="font-size: 100px">ToDo</h1>
        </div>
      </div>
      <div>
        <div class="row justify-content-center">
          <div class="col-8">
            <input type="text" class="form-control" ng-model="toDoText" />
          </div>
          <div class="col-2">
            <button type="button" class="btn btn-success" ng-click="postdata(toDoText)" >Send</button>
          </div>
        </div>
        <!-- <p>Debug : {{msg}}</p> -->
      </div>

      <div style="margin-top:50px">
        <div ng-repeat="todo in todos">
          <div class="row justify-content-center">
            <div class="col-8">
              <p> <img ng-click="deleteToDo(todo.ID)" src="img/x.png"> {{todo.daFare}} </p>
            </div>
            <div class="col-2 text-center">
              <input type="checkbox" />
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </body>
</html>
