<div ng-controller="InsertToDo">
  <div class="row justify-content-center">
    <div class="col-8"> 
      <input type="text" class="form-control" ng-model="toDoText" placeholder="Insert a ToDo!" />
    </div>
    <div class="col-2">
      <button type="button" class="btn btn-primary" ng-click="add(toDoText)" >Add</button>
    </div>
  </div>
  <!-- <p>Debug : {{msg}}</p> -->
</div>

<div ng-controller="ListToDo" style="margin-top:30px">
  <!-- <button class="btn btn-primary" ng-click="reload()">Reload \m/</button> -->
  
  <p ng-show="!todos">No Todos!</p>
  <div ng-repeat="todo in todos" >
    <div class="row justify-content-center">
      <div class="col-8">
        <span> {{ todo.giorno }} </span>
        <p> <img src="img/x.png" ng-click="delete(todo.ID, todo)"> {{todo.daFare}} </p>
      </div>
      <div class="col-2 text-center">
        <input type="checkbox" ng-true-value="'1'" ng-model="todo.checkin"/>
      </div>
    </div>
  </div>
  
  <hr>
  
  <div style="margin-bottom:30px; margin-top:30px" class="row justify-content-center">
    <div class="col-4">
      <button type="button" class="btn btn-info"><<< Archive </button>
    </div>
    <div class="col-4">
      <button type="button" class="btn btn-success" ng-click="archive()">Complete!</button>
    </div>
  </div>
  
</div>